<footer class="bg-gradient-to-t from-violet-100 to-slate-50 relative">
  <div class="max-w-screen-lg mx-auto px-4 py-6 md:pt-12 md:pb-6">
    <div class="md:flex md:gap-6">
      <div class="md:w-1/2 mb-6">
        <h3 class="font-poppins text-2xl leading-relaxed text-violet-900">
          Holistic health companion for women to age gracefully and happily together.
        </h3>
      </div>

      <div class="md:w-1/4 text-sm mb-6"></div>

      <div class="md:w-1/4 text-sm mb-6">
        <ul>
          <li class="mb-2"><a href="">Home</a></li>
          <li class="mb-2"><a href="">About Miso</a></li>
          <li class="mb-2"><a href="">Menopause Library</a></li>
          <li class="mb-2"><a href="">Menopause Stories</a></li>
        </ul>
      </div>
      <div class="md:w-1/4 text-sm mb-6">
        <ul>
          <li class="mb-2"><a href="">Careers with Miso</a></li>
          <li class="mb-2"><a href="">Privacy Policy</a></li>
          <li class="mb-2"><a href="">Terms and conditions</a></li>
          <li class="mb-2"><a href="">Clinicians</a></li>
        </ul>
      </div>
    </div>

    <p class="text-center mt-9 text-sm text-slate-500">
      <i class="fa-solid fa-copyright mr-1"></i> 2022 Miso Health <span class="inline-block mx-2">•</span> <a href="" class="inline-block">hello@miso.org</a>
    </p>
  </div>

  <div class="w-96 h-64 opacity-30 right-0 absolute bottom-0">
    <img src="{{ "/assets/images/bg_left.svg" | relative_url }}" alt="Miso Health" class="w-24 absolute bottom-0" />
    <img src="{{ "/assets/images/bg_middle.svg" | relative_url }}" alt="Miso Health" class="w-48 absolute bottom-0 ml-8" />
    <img src="{{ "/assets/images/bg_right.svg" | relative_url }}" alt="Miso Health" class="w-48 absolute bottom-0 ml-40" />
  </div>
</footer>
