---
layout: default
permalink: /dr-mahesh-jude-perera/appointment/
---

<link rel="stylesheet" href="{{ "/assets/css/main.min.css" | relative_url }}">
<script type="importmap">
{
	"imports": {
		"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
	}
}
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<section itemscope itemtype="https://schema.org/Person">
	<div class="bg-gradient-to-t from-slate-50 to-violet-50 rounded-br-full">
		<div class="max-w-screen-lg mx-auto px-4 py-12 md:py-16 z-10">
			<header class="md:flex md:align-center mb-9 md:mb-0">
				<div class="relative inline-block">
					<figure class="block w-14 h-14 rounded-full overflow-hidden mb-4 md:mb-0 p-1 bg-gradient-to-tr from-misolightblue via-misopurple to-misodarkblue">
						<img class="object-cover w-14 h-14 mr-1 mb-1 rounded-full" src="{{ "/assets/images/clinicians/dr_mahesh.jpeg" | relative_url }}"" alt="Dr. Mahesh Jude Perera">
					</figure>
				</div>

				<h1 class="font-poppins text-xl md:text-2xl g-text-miso md:ml-4 mt-3">
					Book appointment with Dr. Mahesh Jude Perera
				</h1>
			</header>
			<p class="mt-9"><a href="/dr-mahesh-jude-perera/" class="text-misodarkblue block text-sm hover:text-misopurple"><i class="fa-solid fa-arrow-left mr-1"></i> Go to clinician's detail</a></p>
		</div>
	</div>

	<article class="max-w-screen-lg mx-auto px-4 py-6 md:py-10">
		<div class="py-6 md:py-9">

			{% raw %}
				<div id="appointment-app">
					<form
						action="https://cln.miso.health/api/appointment"
						method="post"
						class="p-4 md:p-6 bg-slate-50 rounded-xl"
						ref="appointmentFormRef"
						@submit="makeAppointment"
					>
						<div v-if="message.text?.length" class="px-4 py-3 mb-4 rounded-xl" :class="[message.status === 'success' ? 'text-green-700 bg-green-50 border-green-300' : 'text-red-700 bg-red-50 border-red-300']" v-cloak>
							{{ message.text }}
						</div>

						<input type="hidden" name="doctorId" v-model="formdata.data.doctorId">
						<input type="hidden" name="patientId" v-model="formdata.data.patientId">

						<h2 class="font-poppins text-xl md:text-2xl mb-3 md:mb-4 g-text-miso">Book an appointment</h2>
						<label class="block text-gray-700 text-sm font-bold mb-2">Full name</label>
						<input class="max-w-lg mb-6 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="name" type="text" placeholder="Full name" v-model="formdata.data.name">

						<label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
						<input class="max-w-lg mb-6 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Email" v-model="formdata.data.email" >

						<label class="block text-gray-700 text-sm font-bold mb-2">Appointment date & time</label>
						<input class="max-w-lg mb-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="starts_at" type="datetime-local" name="startsAt_layer" v-model.lazy="startsAt">
						<input type="hidden" name="endsAt" v-model="endsAt">
						<p class="text-sm text-gray-500 mb-6">One session is 45 minutes</p>

						<button type="submit" class="block px-4 py-2 rounded-full bg-gradient-to-tr from-misopurple to-misodarkblue font-medium text-white hover:bg-gradient-to-br hover:from-misopurple hover:to-misodarkblue">
							Book appointment
						</button>
					</form>
				</div>
			{% endraw %}

		</div>
	</article>
</section>

<script type="module">
	import {
		createApp,
		onMounted,
		ref,
		reactive,
		watch
	} from 'vue';

	const appointment = createApp({
		setup() {

			Date.prototype.addHours = function(h) {
				this.setTime(this.getTime() + (h*60*60*1000));
				return this;
			}

			const message = reactive({
				text: '',
				status: ''
			});

			const appointmentFormRef = ref(null);
			const startsAt = ref(new Date());
			const endsAt = ref(new Date().addHours(0.75));

			let formdata = reactive({
				data: {
					doctorId: 'afd0e739-5eb6-4913-9c26-d39a2128a470',
					name: '',
					email: '',
					patientId: '',
				}
			});

			watch(startsAt, (datetimelocal, datetimelocalprev) => {
				if (datetimelocal !== datetimelocalprev) {
					startsAt.value = datetimelocal;
				}
			});

			watch(formdata.data, (data, dataprev) => {
				message.text = '';
				message.status = '';
			});

			const makeAppointment = (e) => {
				e.preventDefault();
				const action = appointmentFormRef.value.getAttribute('action');
				const data = {
					...formdata.data,
					startsAt: new Date(startsAt._value).toISOString(),
					endsAt: new Date(startsAt._value).addHours(0.75).toISOString()
				};

				axios.post(action, data).then(response => {
					message.status = 'success';
					message.text = `We have recieved your appointment request with ${response.data.doctor_id} on ${response.data.starts_at} -  ${response.data.ends_at}. Your patient ID is ${response.data.patient_id}. Your appointment ID is ${response.data.id}`;
				}).catch(error => {
					message.status = 'error';
					message.text = error.message;
				});
			};

			return {
				makeAppointment,
				appointmentFormRef,
				startsAt,
				endsAt,
				message,
				formdata,
			};
		}
	});

	appointment.mount('#appointment-app');
</script>