---
layout: default
---

<div class="px-4 bg-violet-50 w-full z-10 top-0 border-b border-white fixed hidden" id="magellanmenu">
  <ul class="max-w-screen-lg mx-auto px-4 hidden lg:block">
    <li class="mr-2 inline-block"><a class="block text-sm px-2 pt-5 pb-4 hover:border-b-4 hover:border-violet-400" href="#expertise">Expertise</a></li>
    <li class="mr-2 inline-block"><a class="block text-sm px-2 pt-5 pb-4 hover:border-b-4 hover:border-violet-400" href="#gallery">Gallery</a></li>
    <li class="mr-2 inline-block"><a class="block text-sm px-2 pt-5 pb-4 hover:border-b-4 hover:border-violet-400" href="#insurers">Insurers</a></li>
    <li class="mr-2 inline-block"><a class="block text-sm px-2 pt-5 pb-4 hover:border-b-4 hover:border-violet-400" href="#locations">Locations</a></li>
  </ul>
</div>

<section itemscope itemtype="https://schema.org/Person">
  <div class="bg-gradient-to-t from-slate-50 to-violet-50 rounded-br-full">
    <div class="md:flex md:gap-6 max-w-screen-lg mx-auto px-4 py-12 md:py-16 z-10">
      <header class="md:flex-auto mb-9 md:mb-0">
        <div class="relative inline-block">
          <figure class="block w-32 h-32 rounded-full overflow-hidden mb-6 p-1 bg-gradient-to-tr from-misolightblue via-misopurple to-misodarkblue">
            <img class="object-cover w-32 h-32 mr-1 mb-1 rounded-full" src="{{ page.profile_img_url | relative_url }}"" alt=" {{ page.name }}">
          </figure>
          <!-- <div class="text-sm absolute top-0 -right-6 h-8 leading-7 px-2 bg-misodarkblue border-2 border-gray-100 inline-block rounded-full" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <i class="align-baseline fa-xs fa-solid fa-check text-white mr-1"></i>
            <small class="align-baseline font-semibold text-white" itemprop="ratingValue">Verified</small>
          </div> -->
        </div>

        <h1 class="font-poppins text-2xl md:text-4xl g-text-miso">
          {{ page.name }}
          <small class="block text-lg font-monospace mt-2">{{ page.speciality }}</small>
        </h1>
      </header>

      <aside class="md:flex-auto md:w-60">
        <div class="p-4 md:p-6 rounded-3xl border border-violet-900 bg-gradient-to-tr from-misodarkblue to-violet-500 shadow-2xl">
          <h2 class="font-poppins text-xl font-semibold text-sky-100 mb-1">Expertise</h2>
          <p class="text-sm text-misolightblue">Endorsed by {{ page.endorsed_by }} patients</p>
          <ul class="text-sm mt-2">
            {% for expertise in page.expertise limit:5 %}
            <li class="bg-violet-100 rounded-full mr-3 mt-3 inline-block px-2 py-1">{{ expertise }}</li>
            {% endfor %}
            {% assign is_more = page.expertise.size | minus: 5 %}
            {% if is_more > 0 %}
            <li class="bg-transparent rounded-full mr-3 mt-3 inline-block px-2 py-1"><a href="#expertise" class="text-white underline underline-offset-4 decoration-dashed hover:text-misolightblue">+{{page.expertise.size | minus: 5}} more</a></li>
            {% endif %}
          </ul>
        </div>
      </aside>
    </div>
  </div>

  <article class="max-w-screen-lg mx-auto px-4 py-6 md:py-10">
    <div class="py-6 md:py-9">
      <h2 class="font-poppins text-xl md:text-2xl mb-3 md:mb-4 g-text-miso">About</h2>
      <div class="max-w-2xl leading-loose text-lg">
        <div class="border-l-8 border-violet-100 bg-gradient-to-tr from-violet-50 to-slate-50 rounded-md p-4 md:p-6 mb-4 md:mb-6 font-monospace">
          <h3 class="font-semibold text-violet-900">Qualifications:</h3>
          <ul class="text-violet-900 mt-2 text-md">
            {% for qualification in page.qualifications %}
            <li><i class="fa-xs fa-solid fa-check mr-1"></i>{{qualification}}</li>
            {% endfor %}
          </ul>
        </div>

        {% for line in page.about %}
        <p class="mb-3 md:mb-4">
          {{line}}
        </p>
        {% endfor %}
      </div>
    </div>

    {% if page.secretary %}
    <div class="mb-6 md:mb-12 px-4 md:px-6 border-l-8 border-violet-100 max-w-2xl">
      <h2 class="font-poppins text-lg md:text-xl mb-3 md:mb-4 g-text-miso">Medical secretary</h2>
      <h3 class="font-poppins text-md md:text-lg">{{page.secretary.first_name}} {{page.secretary.last_name}}</h3>
      <p class="mt-2">{{page.secretary.address}}</p>
      <p class="mt-2">
        <a href="" class="text-misopurple text-sm rounded-full px-3 py-1.5 border border-misopurple inline-block mr-3 hover:bg-misopurple hover:text-white"><i class="fa-light fa-phone-rotary mr-1"></i> Call {{page.secretary.first_name}}</a>
        <a href="" class="text-misopurple text-sm rounded-full px-3 py-1.5 border border-misopurple hover:bg-misopurple hover:text-white"><i class="fa-light fa-comment-dots mr-1"></i> Chat with {{page.secretary.first_name}}</a>
      </p>
    </div>
    {% endif %}


    <div class="py-6 md:py-9 md:my-9" id="expertise">
      <h2 class="font-poppins text-xl md:text-2xl mb-3 md:mb-4 g-text-miso">Expertise</h2>
      <p class="text-sm text-gray-600">Endorsed by {{page.endorsed_by}} patients</p>
      <div class="max-w-2xl leading-relaxed text-lg">
        <ul class="text-sm">
          {% for expertise in page.expertise %}
          <li class="mr-3 mt-3 inline-block"><span class="bg-violet-100 rounded-full px-2 py-1">{{expertise}}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if page.gallery %}
    <div class="py-6 md:py-9 md:my-9" id="gallery">
      <h2 class="font-poppins text-xl md:text-2xl mb-3 md:mb-4 g-text-miso">Gallery</h2>
      {% if page.gallery.youtube %}
      <div class="md:flex md:flex-wrap md:gap-6">
        <div class="md:w-1/2 md:overflow-hidden rounded-xl overflow-hidden">
          <iframe class="block w-full" width="560" height="315" src="{{page.gallery.youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if page.insurers.size > 0 %}
    <div class="py-6 md:py-9 md:my-9" id="insurers">
      <h2 class="font-poppins text-xl md:text-2xl mb-3 md:mb-4 g-text-miso">Insurers</h2>
      <p class="text-sm text-gray-600">{{page.name}} works with</p>
      <ul class="text-sm">
        {% for insurer in page.insurers %}
        <li class="mr-3 mt-3 inline-block"><span class="bg-violet-100 rounded-full px-2 py-1">{{insurer}}</span></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </article>

  <article class="py-6 md:py-10 bg-slate-50" id="locations">
    <div class="max-w-screen-lg mx-auto px-4">
      <div class="my-6 md:my-9">
        <h2 class="font-poppins text-xl md:text-2xl mb-3 md:mb-4 g-text-miso">Locations</h2>
        <p class="text-sm text-gray-600">{{page.name}} practise locations</p>

        <div class="mt-4 md:mt-6 md:-mx-4 md:flex">
          <div class="md:w-1/2">
            {% for location in page.locations %}
            <article class="bg-white mb-4 md:mb-6 p-4 md:p-6 border-l-8 border-violet-100">
              <h3 class="font-poppins text-lg">{{location.name}}</h3>
              <p class="text-sm text-gray-500">{{location.address}}</p>
              <ul class="text-xs font-monospace flex gap-2">
                {% for tag in location.tags %}
                <li class="mt-4"><span class="px-2 py-1 bg-misopurple text-white rounded-xl">{{tag}}</span></li>
                {% endfor %}
              </ul>
              <ul class="mt-4 text-sm flex gap-4">
                {% if location.phone %}
                <li class="mt-1"><a href="" class="text-misodarkblue block"><i class="fa-solid fa-hospital-user mr-1"></i> {{location.phone}}</a></li>
                {% endif %}
                {% if location.email %}
                <li class="mt-1"><a href="" class="text-misodarkblue block"><i class="fa-xs fa-solid fa-envelope mr-1"></i> Email</a></li>
                {% endif %}
                {% if location.website %}
                <li class="mt-1"><a href="" class="text-misodarkblue block"><i class="fa-xs fa-solid fa-browser mr-1"></i> Website</a></li>
                {% endif %}
              </ul>
            </article>
            {% endfor %}
          </div>

          <div class="hidden md:block md:w-1/2">
            <figure class="w-full h-full overflow-hidden relative bg-slate-400">
              <img class="w-full h-full object-cover absolute top-0 right-0" src="{{page.location_img}}" alt="fun">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="max-w-screen-lg mx-auto px-4 py-6 md:py-10">
    <div class="my-6 md:my-9 px-4 md:px-6 border-l-8 border-violet-100 max-w-2xl">
      <h2 class="font-poppins text-lg md:text-xl mb-3 md:mb-4 g-text-miso">Need help with finding an insurance?</h2>
      <div class="md:flex md:gap-6 md:items-center">
        <figure class="mb-4 w-24 h-24 rounded-full overflow-hidden bg-gray-100 border border-misopurple">
          <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="Jackie at Miso Health" class="w-24 h-24 object-cover">
        </figure>
        <div>
          <h3 class="font-poppins text-md md:text-lg">Jackie</h3>
          <p class="mt-2">Miso Insurance Expertise</p>
          <p class="mt-2"><a href="" class="text-misopurple text-sm rounded-full px-3 py-1.5 border border-misopurple inline-block mr-3 hover:bg-misopurple hover:text-white"><i class="fa-light fa-phone-rotary mr-1"></i> Call Jackie</a> <a href="" class="text-misopurple text-sm rounded-full px-3 py-1.5 border border-misopurple hover:bg-misopurple hover:text-white"><i class="fa-light fa-comment-dots mr-1"></i> Chat with Jackie</a></p>
        </div>
      </div>
    </div>
  </article>

  <!-- <a href="{{ page.permalink }}appointment/" class="z-50 fixed bottom-8 right-8 px-5 py-3 rounded-full bg-gradient-to-tr from-misopurple to-misodarkblue font-medium text-white text-lg hover:bg-gradient-to-br hover:from-misopurple hover:to-misodarkblue">
    Book appointment
  </a> -->
</section>

<script>
  let scrollPos = 0;
  const innHeight = window.innerHeight;
  const nav = document.querySelector('#magellanmenu');

  function checkPosition() {
    let windowY = window.scrollY;
    if (windowY < scrollPos) {
      if (windowY < 500) {
        nav.classList.add('hidden');
        nav.classList.remove('block');
      }

    } else {
      // Scrolling DOWN
      if (windowY > 500) {
        nav.classList.add('block');
        nav.classList.remove('hidden');
      } else {
        nav.classList.add('hidden');
        nav.classList.remove('block');
      }
    }
    scrollPos = windowY;
  }

  window.addEventListener('scroll', checkPosition);
</script>